<ul>
{% for data in item.extra_data %}
<li>
<b>{{ data.repository }}</b>: <b>test failures</b> (<a href="{{ data.log }}">log</a>)
<br/>The tests ran in {{ data.duration }}
<br/>Last run: {{ data.date }}
<br/>Previous status: <b>{{ data.previous_status }}</b>
</li>
<br/>
{% endfor %}
</ul>
